header{
    text-align: center;
    color:firebrick;
    background: rgb(157, 219, 190);
    padding-bottom: 12px;
}
p{
    font-size: 20px;
}
.content{
    background: darkseagreen;
} 
footer{
    text-align: center;
    margin-top: 20px;
}

